<!DOCTYPE html>
<html>

<head>
	<title>Menager Object</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<style>
    body{
	margin: 0; padding: 0; background: linear-gradient(120deg,#58a3d4, #93bfcb);  height: 100vh; overflow: hidden;
  }

  h1{text-align: center; color: white; font-weight: bold; margin-bottom: 60px;}

  div.b{
    text-align: center; color: white; font-weight: normal; margin-bottom: 10px; font-size: 20px;

  }

  div.c {
    text-align: center; font-weight: normal;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

  }



  


</style>

<body>

    <div  id="managerObject" >
        <h1>Sport object</h1>

        <div class="b">
            <label>Name:</label>
            <label>{{loggedUser.sportObject.objectName}}</label>
        </div>

        <div class="b">
            <label>Type:</label>
            <label>{{loggedUser.sportObject.objectType}}</label>
        </div>

        <div class="b">
            <label>Status:</label>
            <label>{{loggedUser.sportObject.objectStatus}}</label>
        </div>

        <div class="b">
            <label>Location:</label>
            <label>{{loggedUser.sportObject.location.place}}, {{loggedUser.sportObject.location.street}}  {{loggedUser.sportObject.location.number}}</label>
        </div>

        <div class="b">
            <label>Working hours:</label>
            <label>{{loggedUser.sportObject.startTime}} - {{loggedUser.sportObject.endTime}}</label>
        </div>

        <div class="b">
            <label>Mark:</label>
            <label>{{loggedUser.sportObject.objectMark}}</label>
        </div>

        <div class="c">
            <button v-on:click="showTrainersForm()">Show coaches</button>
        </div>

        <div class="c">
            <button v-on:click="showBuyersForm()">Show buyers</button>
        </div>
        <div class="c">
            <button v-on:click="showAllTrainings()">Show trainings</button>
        </div>

        <div id ="trainers" v-if="showTrainers == true">

            <h2>Coaches</h2>

            <table id="trainers" class="content-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surmane</th>
                        <th>Username</th>
                        <th>Gender</th>
                        <th>Date of birth</th>
                        <th>Type</th>
                        
                    </tr>
                </thead>
    
                <tr v-for="u in trainers">
                    <td>{{u.name}}</td>
                    <td>{{u.surname}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.userGender}}</td>
                    <td>{{u.dateOfBirth}}</td>
                    <td>{{u.userType}}</td>
                </tr>
            </table>

        </div>

        <div id ="buyers" v-if="showBuyers == true">

            <h2>Buyers</h2>

            <table id="buyers" class="content-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surmane</th>
                        <th>Username</th>
                        <th>Gender</th>
                        <th>Date of birth</th>
                        <th>Type</th>
                        
                    </tr>
                </thead>
    
                <tr v-for="u in buyers">
                    <td>{{u.name}}</td>
                    <td>{{u.surname}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.userGender}}</td>
                    <td>{{u.dateOfBirth}}</td>
                    <td>{{u.userType}}</td>
                </tr>
            </table>
        </div>

    </div>

    <script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/managerObject.js"></script>
</body>
</html>