<!DOCTYPE html>
<html>

<head>
	<title>Web shop</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="jquery-3.3.1.min.js"></script>
</head>

<body>
	<div id ="sportObjects">

		<label>Search</label>
        <input type="text" placeholder="Search" v-model="filter">
		<select name="criteruim" id="criteruim" v-model="criterium">
			<option value="Name">Name</option>
			<option value="Location">Location</option>
			<option value="Average grade">Average grade</option>
			<option value="Object type">Object type</option>
		</select>
		<button value="search" v-on:click="searchObject">Search</button>

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Location</th>
					<th>Logo</th>
					<th>Mark</th>
					<th>Working hours</th>
                    
				</tr>
			</thead>

			<tr v-for="sp in sportObjects">
				<td>{{sp.id }}</td>
                <td>{{sp.objectName }}</td>
                <td>{{sp.objectType }}</td>
				<td>{{sp.location.place}}, {{sp.location.street}}  {{sp.location.number}}  </td>
				<td>{{sp.logoPicture }}</td>
				<td>{{sp.objectMark }}</td>
				<td>{{sp.startTime.hour}}:{{sp.startTime.minute}} - {{sp.endTime.hour}}:{{sp.endTime.minute}}</td>
                

			</tr>
		</table>

		
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/sportObjects.js"></script>
</body>

</html>